.Form{
  max-width: 250px;
  margin: 0 auto;
}

form{
  padding: 20px;

  display: flex;
  flex-direction: column;
  /*margin: 0 auto;*/

}
form input{
  width: 200px;
  /*margin: 0 auto;*/
}
form .label{
  float: right;
  width: fit-content;
}
button{
  padding: 5px;
  width: 100px;
  background-color: #55415f;
  color: #61dafb;
  border-radius: 10px;
  border: none;
  margin: 0 auto;
  margin-top: 10px;
  /*margin-right: 100px;*/
}
.error{
  margin-top: 10px;
  font-size: 18px;
  color: red;
  text-align: center;
}
.error span{
  display: block;
  width: 100%;
}

.info{
  color: green;
  font-size: 20px;
  margin-bottom: 10px;
}